<div>


    <p>count:{{counter}}</p>
    <button (click)="increment()">increment</button>
    <button (click)="decrement()">decrement</button>
</div>

<div>
    <div *ngFor="let d of datas ">
        
    <p>{{d.id}}
    {{d.employee_name}}</p>
    </div>
</div>
